@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}
.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 56px;
    color: #75B79E;
    font-weight: 700;
    margin: 40px auto;
    text-align: center;
}
.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 7 auto 0;
}
.cards-section > * {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    margin-right: min(34px);
    margin-left: min(34px);
}
.cards-section > * img {
    width: 100px;
    height: auto;
}
.hidden {
    display: none;
}
.flip-card {
    perspective: 1000px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .clicked .flip-card-inner {
    transform: rotateY(180deg);
  }
 
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #A7E9AF;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #86be97;
    transform: rotateY(180deg);
  }
  .matched {
    transition-delay: 0.5s;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 23px -1px rgba(26,171,49,0.83);
  }
  .timer {
    position:  absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 70px;
    background-color: #86be97;
    color: #ffffff;
    border-bottom-left-radius: 12px;
    display: flex;
    font-size: 30px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
  }

  .initial-page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #355045;
    color: #ffffff;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
  }
  .initial-page img {
    width: 200px;
  }
  .initial-page h1 {
    font-size: 80px;
    font-weight: 800;
    margin:30px 0;
  }
  .initial-page p {
    font-size: 25px;
    font-weight: 100;
    margin: 15px 0;
  }
  .invisible {
    visibility: hidden;
    transition-duration: 0.7s;
  }
  .you-won {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 30%;
    height: 500px;
    z-index: 300;
    background-color: #355045;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
  }
  .you-won h1 {
    font-size: 80px;
    font-weight: 800;
    margin:20px 0;
  }
  .you-won p {
    width: 80%;
    font-weight: 100;
    text-align: center;
  }
  .parrots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
  }
  .parrots img {
    width: 35px;
  }
  .buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .buttons button {
    width: 100px;
    height: 35px;
    background-color: #A7E9AF;
    border-color:#75B79E;
  }

@media screen and (max-width: 629px) {
    h1 {
        font-size: 36px;
        width: 70%;
        margin: 0 auto;
    }   
    .cards-section {
        flex-direction: column;
    }
    .cards-section > * {

        margin-left: auto;
        margin-right: auto;
    }
    .cards-section > * img {
        width: 80%;
        height: auto;
    }
    .timer {
        width: 80px;
        height: 45px;
        font-size: 25px;
        position: fixed;
    }
    .initial-page img {
      width: 100px;
    }
    .initial-page h1 {
      font-size: 26px;
      font-weight: 800;
      margin: 30px 0;
      text-align: center;
    }
    .initial-page p {
      font-size: 14px;
      font-weight: 100;
      margin: 15px 0;
    }
    .you-won {
      width: 80%;
    }
    .you-won h1 {
      font-size: 42px;
      font-weight: 800;
      margin: 30px 0;
      text-align: center;
    }
    .you-won p {
      width: 80%;
      text-align: center;
    }
    .buttons {
      width: 80%;
    }
    .parrots img {
      width: 25px;
    }
}